# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Pytest
.cache/

# Distribution
build/
dist/
*.egg-info/

# Neo4j local files
logs/
data/
config/
plugins/

# Local environment files
.env
neo4j_auth.txt

# OS files
.DS_Store
*.swp
